<head> <!--link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"-->

<style>
*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: black;
	font-family: Arial;

}
	#blog{
		background-color: lightgrey;
		
		height:100px;
		
		
		text-align: center;
		

	}
	#head{

		margin: auto;
		padding-top: 20px;

	}
	#post{
		width: 500px;
		margin: 5px auto;
		background-color: #66CCCC;
		padding: 20px;
	}
	p{
		font-size: 20px;
	}
	#form{
		margin: 5px auto;
		text-align: center;
	}
	#button{
		width: 80px;
		height:30px;
		padding: 2px;
		font-weight: bold;
	}
</style>
</head>
<body>
<div id="blog">
    <h1 id="head">My Blog</h1>
</div>

<!--p>Details for blog no. {{ try2 }}</p-->
<div id="post">
<h1>{{ posts.title }}
</h1><br>
<p>{{posts.text}}</p>
</div><br><br>
<div id="form">
<form action="{% url 'like' try2 %}" method="post">
{% csrf_token %}
	{% if posts.is_liked %}
		<strong>Wanna dislike ? </strong> <input type="submit" value="UnLike" id="button"></input>
		
	{% else %}
		<strong>Liked it? Hit Like  </strong> <input type="submit" value="Like" id="button"></input>
	{% endif %}
	

</form>
</div>
</body>