<style>
body{
	text-align: center;
	background-color: #A5BAD1;

}
#form{
	border:3px solid black;
	width:500px;
	margin: auto;
	margin-top: 60px;
	padding: 10px

}
</style>
<body>
<h1>Registration form</h1>
<div id="form">
<form action="" method="post" autocomplete="OFF">
	{% csrf_token %}
	<!-- username: <input type="text"></input>
	email: <input type="text"></input>
	password: <input></input> -->
	Username: &nbsp&nbsp&nbsp&nbsp{{form.username}}<br>
	<br>
	Email: &nbsp&nbsp&nbsp&nbsp{{form.email}}<br>
	<br>
	Password: &nbsp&nbsp&nbsp&nbsp{{form.password}}<br>
	
	 <br>
	 <button type="Submit" value="submit">Register</button>
	 <!-- <script type="text/javascript">
	 	if({{form.username}}=='None'||{{form.email}}==None||{{form.password==None}}){
	 		alert("Please fill all the fields!")
	 </script>
	  -->	
</form>
</div>
</body>