<style>
*{
	text-decoration: none;
	
}
	#form{
	border:3px solid black;
	width:500px;
	margin: auto;
	margin-top: 60px;
	padding: 10px

}
body{
	text-align: center;
	background-color: #A5BAD1;

}
#error{
	color: red;
}
</style>
<body>
<div id="form">
<form action="" method="post">
	{% csrf_token %}
{% for field in form %}
<div id="error">
<p>{{field.errors}}</p>
</div>
<label>{{field.label_tag}}</label>
{{field}}<br><br>
{% endfor %}
<button type="submit" value="submit">Submit</button>
</form>
</div>
</body>